<html>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <div class="mermaid">
    
        classDiagram
          class CalendarioView {
            ano
            appbar : AppBar
            bgcolor : WHITE
            data_db
            dbs
            hoje : date
            lv_mes_horizontal : ListView
            page : Page
            scroll : ALWAYS
            todas_datas
            todas_dt_literal : list
            extrair_dt_literal() list[str]
            reposicionar(e)
            reposicionar_auto()
          }
          class Cartao {
            color : str
            elevation : float
            shadow_color : GREEN
            show_border_on_foreground : bool
            surface_tint_color : YELLOW_100
          }
          class MesCard {
            ano : int
            coluna_00 : Column
            coluna_01 : Column
            coluna_02 : Column
            coluna_03 : Column
            coluna_04 : Column
            coluna_05 : Column
            coluna_06 : Column
            coluna_de_eventos : Column
            content : Container
            data_db
            dbs
            expand : bool
            legendas : set
            lista_container_00 : list
            lista_container_01 : list
            lista_container_02 : list
            lista_container_03 : list
            lista_container_04 : list
            lista_container_05 : list
            lista_container_06 : list
            listas_containers : list[list]
            mes : int
            meses : list
            obj_calendar_d0 : Calendar
            page : Page
            titulo_mes : str
            todas_datas : Optional[list[Data]]
            todas_dt_literal : Optional[list[str]]
            width : int
            container(dia: int) ft.Container
            contar_eventos(evento: Evento, lista_eventos: list[Evento]) bool
            determinar_cor_data(dia: int) str
            filtrar_linha_cor_legenda(dia: int, lista_eventos: list[Evento]) None
            preencher_dias()
            setar_linha_cor_legenda(cor: str, evento: str) ft.Row
          }
  
       </div>
  </body>
</html>
